

<h1 class="m-3">Ask a Question to Your Coach</h1>


<form class = "d-flex  w-75 m-3 mt-4"action="/answer" method="get">
  <input type="text" name="question" placeholder="Type in a question" class="w-75">
  <input type="submit" value="Ask!" class="btn btn-primary">
</form>
